body {
    font-family: 'Courier New', monospace;
    background-color: white;
    background-image: url('whalersmall.png');
  }
    * {
  box-sizing: border-box;
} 

h2, h3{
  color: red;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}
/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
 a:link {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
} 

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}