
body {
    font-family: 'Courier New', monospace;
    background-color: white;
  }
    * {
  box-sizing: border-box;
}

h2, h3{
  color: navy;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}
/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
 a:link {
  color: navy;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: navy;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: white;
  background-color: transparent;
  text-decoration: underline;
} 

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  color: navy; 
  border: 1px solid #000080;
  text-align: center;
  padding: 8px;
}

td {
  border: 1px solid #000080;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #D3D3D3;
}
} 

}